@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Montserrat+Subrayada&family=Montserrat:ital,wght@0,200;1,400&family=Open+Sans:wght@500&family=Quicksand:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Josefin Sans", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-first: #ffffff;
  --primary-second: #f2f2f2;
  --primary-third: #119fbf;
  --txt-color: #000000;
  --txt-color-light: #b3b3b3;
  --black: #000000;
  --white: #ffffff;
  --error: #ed4337;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

input,
select,
textarea {
  outline: none;
  border: none;
}

#error {
  color: var(--error);
}

#txt__color__light {
  color: var(--txt-color-light);
}

#txt__color__primary {
  color: var(--primary-third);
}

hr {
  height: 1px;
  background-color: var(--primary-second);
  border: none;
  margin: 10px 0;
}
